.footer {
    padding: 17px 0 0;
    border-top: 1px solid #E6E6E6;
    background-color: #363A3B;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
    bottom: 0;
    width: 100%;
}
.footer-fix {
    position: absolute!important;
    bottom: 0;
    left: 0;
    width: 100%;
}
footer{
display: block;
}